{% extends 'basketapp/base.html' %}
{% load static %}
{% block content %}
<div class="basket_list">
    {% for item in basket_items %}
    <div class="basket_record">
        <img class="basket__product-image" src="/media/{{ item.product.image }}" alt="{{ item.product.short_desc }}">
        <div class="basket__product-name">
            <span class="category_name">{{ item.product.category.name }}</span>
            <span class="product_name">{{ item.product.name }}</span>
        </div>
        <span class="product_price">{{ item.product.price }}&nbspруб</span>
        <input class="basket__change-button" type="number" name="{{ item.pk }}" min="0" value="{{ item.quantity }}">
        <span class="product_cost">{{ item.cost }}&nbspруб</span>
        <a href="{% url 'basket:remove' item.pk %}" class="">
            удалить
        </a>
    </div>
    {% endfor %}
    {% if basket_items %}
    <div class="basket_summary">
        В корзине {{ basket_items.0.total_quantity }} товаров общей стоимостью
        {{ basket_items.0.total_cost }} руб
    </div>
    {% endif %}
    <button class="btn btn-round">
        <a href="{% url 'index' %}">на главную</a>
    </button>
</div>
{% endblock %}