{% load static %}
{% block menu %}
<div class="nav-menu">
    <a href="{% url 'index' %}" class="logo"></a>

    <ul class="menu">

        <li>
            <a href="{% url 'index' %}"
               class="{% if request.resolver_match.url_name == 'index' %}
               active{% endif %}">
                Домой
            </a>
        </li>
        <li>
            <a href="{% url 'products:index' %}"
               class="{% if request.resolver_match.namespace == 'products' %}
               active{% endif %}">
                Продукты
            </a>
        </li>

        <li>
            <a href="{% url 'contact' %}"
               class="{% if request.resolver_match.url_name == 'contact' %}
               active{% endif %}">
                Контакты
            </a>
        </li>

        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'auth:edit' %}">
                  {{ user.first_name|default:'Пользователь' }}
                </a>
            </li>
        {% endif %}
        {% if user.is_superuser %}
          <li>
            <a href="{% url 'admin:users' %}">админка</a>
          </li>
        {% endif %}
        <li>
        {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}">выйти</a>
        {% else %}
            <a href="{% url 'auth:login' %}">войти</a>
        {% endif %}
        </li>
    </ul>
    <div class="nav__icons-links">
        <a href="#" class="search">
            <img src="{% static '/img/search.png' %}" alt="">
        </a>
        <a href="{% url 'basket:view' %}" class="basket">
            <img src="{% static 'img/basket.svg' %}" alt="">
        </a>
    </div>
</div>
{% endblock menu %}