{% load static %}
{% block products_menu %}
<div class="links clearfix">
    <ul class="links-menu">
        <li>
            <a href="{% url 'products:products_category' 'all'  %}"
               class="{% if request.resolver_match.kwargs.category_name == 'all' %}
                active {% endif %}">
                все
            </a>
        </li>
        {% for category in categories %}
            {% if category.is_active %}
                <li>
                    <a href="{% url 'products:products_category' category.en_name %}"
                       class="{% if request.resolver_match.kwargs.category_name == category.en_name %}
                       active {% endif %}">
                        {{ category.name }}
                    </a>
                </li>
            {% endif %}

        {% endfor %}
    </ul>
</div>
{% endblock %}