{% extends 'mainapp/base_product.html' %}
{% load static %}

{% block content_description %}
	<div class="category_container">
		<h2 class="category_heading">
			{{ category.name|title }}
		</h2>
		<p class="category_description">
			{{ category.description }}
		</p>
	</div>

    <div class="details-products">
		{% for product in products %}
			<div class="card-product">
				<div class="details-slider">
					<div class="slider-product">
						<img class="product-image" src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
					</div>
				</div>
				<div class="description">
					<h3 class="big-bold">{{ product.name|capfirst }}</h3>
					<p class="price"> {{ product.price }} <span>руб</span></p>
					<a href="{% url 'basket:add' product.pk %}" class="red-button">
						заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>
					<div class="description-text">
					<p>{{ product.short_desc }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}